.botao{
    background-color: #f5fffb;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1rem;
    padding: 1.5rem;
    border: none;
    cursor: pointer;
    color: #411530;
    margin: 1rem 0;
    transition: 1s all;
}

.botao:hover{
    color: #f5fffb;
    background-color: #411530;
}